<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <h3>Version 3</h3>
    <ul>
      {{#todos}}
        <li>{{task}}</li>
      {{/todos}}
    </ul>
  </body>
</html>
